

 <nav style="background-color:rgb(58, 13, 117); color: whitesmoke;" class="navbar navbar-expand-md ">
    <!-- Brand -->
    <a class="navbar-brand" >Employee Leave Tracker</a>

    <!-- Toggler/collapsibe Button -->
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span  class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div  class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="color: whitesmoke;" class="nav-link" [routerLink]="['./home']"><i class="fa fa-fw fa-home"></i>Home</a>
        </li>

        <li class="nav-item">
          <a style="color: whitesmoke;" class="nav-link" [routerLink]="['./users']"><i class="fa fa-fw fa-home"></i>Users</a>
        </li>

        <li class="nav-item">
          <a style="color: whitesmoke;" class="nav-link" [routerLink]="['./login']">Login</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- <div class="nav nav-tabs" style="background-color:rgb(58, 13, 117); display:block; padding:12px 20px">
    <a style="color: whitesmoke; font-size: 20px; display: inline-flexbox;" class="navbar-brand" ><b>Employee Leave Tracker</b></a>
<a   style="color: whitesmoke; font-size: 15px;" [routerLink]="['./home']"><i class="fa fa-fw fa-home"></i>Home</a>&nbsp;&nbsp;&nbsp;
<a style="color: whitesmoke; font-size: 15px;" [routerLink]="['./login']">Login</a>

</div> -->
<router-outlet></router-outlet>

