<!-- -->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <img class="img-fluid" src="assets/owler.jpg" >-->
<!--        <div class="content">-->
<!--           <h2 style="font-size: 50px;">Let's Build Something <br></h2>-->
<!--           <h2 style="font-size: 50px;"> Amazing Together</h2>-->
<!--  &lt;!&ndash;<h2>Employee leave traker focus on tracking employee leaves.<br>employee can apply for leave by selecting date.Admin can see all leaves,<br>so all leaves will managed by admin.</h2>&ndash;&gt;-->
<!--       </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container-fluid" style="margin-top: 25px;">
  <div class="row">
     <div class="col-md-6" style="margin-bottom: 20px;">
      <div class="card" >
        <!-- img class="card-img-top" src="img_avatar1.png" alt="Card image" -->
        <div class="card-body">
          <h4 class="card-title"><b>Employee Feature</b></h4>
          <p class="card-text">This is the main module which exhibits the central logic of application.New employee can sign up,then it redirect to login page.After successfully login employee can apply for leave by selecting leave date.employee can keep track on status of leave. </p>

        </div>
      </div>
     </div>

     <div class="col-md-6">
      <div class="card" >
        <!-- img class="card-img-top" src="img_avatar1.png" alt="Card image" -->
        <div class="card-body">
          <h4 class="card-title"><b>Admin Feature</b></h4>
          <p class="card-text">Admin module show all the leaves, so that admin will manage all the leaves.Admin can login by given id & password then admin can take decision on employee leave and then employee can see updated status. </p>

        </div>
      </div>
     </div>
  </div>
  </div>





